* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  font-family: "Rubik", sans-serif;
}

p,
a,
button,
h5 {
  font-family: "Roboto", sans-serif;
}

span {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 76px;
  color: #f3f7f8;
}

.container {
  width: 1500px;
  margin: auto;
}

nav {
  display: flex;
  height: 110px;
  background-color: #2a8086;
}

.row-button {
  display: flex;
  flex-direction: row;
  margin: 30px 0 100px;
  padding-bottom: 100px;
}

.row-button button {
  margin: 0;
}

.row-button .donation-button {
  display: none;
  color: #0d444d;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 24px;
  cursor: pointer;
  text-transform: uppercase;
}

.line-t{
  display: none;
}

.row-head {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: flex-start;
}

.rigth-part-header img {
  padding: 30px 0 130px;
  width: 100%;
}

.left-part-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.rigth-part-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

nav a {
  font-size: 18px;
  color: #c5e1e6;
  text-decoration: none;
  margin-right: 50px;
}

nav a.active {
  border-bottom: solid 2px #c5e1e6;
  padding-bottom: 2px;
}

.bg-img-blue {
  background-image: url(../img/bgimgheader.svg);
  background-color: #f5f9fa;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-img-panda {
  background-image: url(../img/framebg.png);
  background-color: #f5f9fa;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 100px 0 200px;
}

.tree-first {
  position: absolute;
  left: 230px;
  width: 130px;
}

.tree-second {
  position: absolute;
  width: 90px;
  left: 800px;
  top: 100px;
}

.pandaart {
  position: absolute;
  left: 970px;
  bottom: 164px;
}

.bamboo {
  position: absolute;
  left: 1060px;
  bottom: 164px;
}

.tree-third {
  position: absolute;
  right: 190px;
  bottom: 131px;
}

.log-in {
  color: #c5e1e6;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
  cursor: pointer;
}

.sing-up {
  color: #c5e1e6;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0);
  border: solid 1px #c5e1e6;
  padding: 16px 15px;
  border-radius: 100px;
  margin-left: 25px;
  cursor: pointer;
}

.search {
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
  cursor: pointer;
  margin-right: 40px;
}

.left-part-header {
  width: 60%;
  padding-top: 80px;
}

.left-part-header h1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 72px;
  line-height: 85px;
  color: #c5e1e6;
}

.left-part-header p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  width: 480px;
  color: #c5e1e6;
}

.watch-now {
  color: #0d444d;
  font-size: 18px;
  background-color: #ffffff;
  border: solid 1px #ffffff;
  padding: 14px 84px;
  border-radius: 100px;
  margin-top: 87px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  cursor: pointer;
}

.how-it-work {
  background: #f5f9fa;
}

.how-it-work h2 {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #0d444d;
  margin-bottom: 105px;
}

.row {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}

.row-pay {
  padding-top: 80px;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}

.how-it-work .circle-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.how-it-work .circle-card .circle {
  background: #ffffff;
  box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.06);
  border-radius: 100px;
  width: 145px;
  height: 145px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.how-it-work .circle-card p {
  color: #0d444d;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-top: 15px;
  text-align: center;
}

.pets-in-zoo {
  background-color: #f5f9fa;
  padding-top: 83px;
}

.pets-in-zoo h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #0d444d;
}

.favorite {
  color: #19707d;
  border: 1.5px solid #19707d;
  box-sizing: border-box;
  border-radius: 100px;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0);
  border: solid 1px #19707d;
  padding: 16px 15px;
  margin-left: 25px;
  width: 331px;
  height: 52px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.favorite::before {
  content: url(../img/like.png);
  margin-right: 16px;
}

.pets-in-zoo .rigth-part-select {
  width: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.pets-in-zoo {
  padding-bottom: 120px;
}

.controle {
  border: 0;
  background: #00000000;
  cursor: pointer;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.card {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 20px 20px 20px 0;
  box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  cursor: pointer;
}

.center {
  margin: 88px 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.bg-img-pay .center {
  padding: 80px 0 180px;
  margin: 0;
}
.img-animals {
  width: 228px;
  height: 221px;
  text-align: center;
}

.card .row {
  width: 80%;
  margin: 17px auto 21px auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.watch img {
  width: 32px;
  height: 32px;
}

.card button {
  border: 0;
  background: #00000000;
  cursor: pointer;
}

.about-animal {
  border-top: 1px solid #f5f9fa;
}

.about-animal h3 {
  padding-top: 15px;
}

.about-animal h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #2d2d2d;
}

.about-animal p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #919191;
}

.bg-img-pay {
  background-image: url(../img/framepay.png);
  background-size: cover;
  background-color: #f5f9fa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background-position: center;
  position: relative;
}

.row-pay {
  position: relative;
}

.penguin {
  position: absolute;
  bottom: 20px;
}

.bamboopay {
  position: absolute;
  right: 0;
}

.tree-pay {
  position: absolute;
  left: 20px;
  top: 120px;
}

.bg-img-pay h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #c5e1e6;
}

.donation-button {
  cursor: pointer;
  width: 356px;
  height: 52px;
  background: #c5e1e6;
  border: 0;
  border-radius: 100px;
  transition: 0.5s;
}

.donation-button:hover {
  background: #c5e1e5;
  color: #0d444d;
  transition: 0.5s;
  filter: drop-shadow(0px 2px 20px rgba(185, 213, 217, 0.6));
}

.circle-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: #c5e1e5;
  width: 30%;
}

.circle-card p {
  margin-top: 14px;
}

.circle .center {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;
}

.circle {
  width: 145px;
  height: 145px;
  background: #ffffff;
  box-shadow: 0px 2px 50px rgba(185, 213, 217, 0.6);
  border-radius: 100px;
}

.testimonials {
  background-color: #f5f9fa;
  padding: 117px 0 117px;
}

.testimonials h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #0d444d;
}

.feedback {
  border: 1.5px solid #19707d;
  box-sizing: border-box;
  border-radius: 100px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #19707d;
  padding: 14px 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #00000000;
}

.feedback::before {
  content: url(../img/comm.png);
  padding-right: 16px;
}

.comment {
  background: #ffffff;
  box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.06);
  width: 100%;
  height: 190px;
  position: relative;
}

.comment .data {
  padding: 28px 45px 9px;
  color: #b3b3b3;
}

.comment p {
  padding: 0px 45px 40px;
}

.comment {
  height: auto;
}

.comments {
  padding-top: 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.comment-with-human {
  width: 30%;
}

.human {
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}

.but{
  display: none;
}

.human h5 {
  padding-left: 16px;
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.square {
  width: 25px;
  height: 25px;
  background-color: #ffffff;
  position: absolute;
  bottom: -10px;
  left: 20px;
  transform: rotate(45deg);
}

.look-at-animals {
  background: #f5f9fa;
  padding-bottom: 110px;
}

.look-at-animal .row {
  display: flex;
  flex-direction: row;
}

.look-at-animals h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #0d444d;
  margin-bottom: 60px;
}

.aminal {
  display: inline-block;
}

.left-part-beau-anim {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.rigth-part-select {
  width: 2%;
  right: 0;
}

.aminal p {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 8px;
  color: #2d2d2d;
}

.aminal img {
  width: 76px;
  height: 76px;
  cursor: pointer;
  transition: 500ms;
}

.aminal img:hover {
  transform: rotate(-180deg);
  transition: 500ms;
}

footer {
  background: #196469;
}

footer .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer nav {
  background: #196469;
  padding: 88px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer img {
  width: 108px;
}

.rigth-part-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.rigth-part-footer p {
  color: #ffffff;
}

.line {
  width: 30%;
}

.line img {
  width: 100%;
}

.burger {
  width: 35px;
  display: none;
}

.burger button {
  background-color: #ffffff00;
  border: 0;
}

.logo-burger {
  display: none;
}

.bt-none{
  display: none;
}

.select-none{
  display: none;
}

.butn-none{
  display: none;
}

.whatch-vid-none{
  display: none;
}

@media (max-width: 1667px) {
  .donation-button {
    width: 250px;
  }

  .container {
    width: 95%;
  }

  .tree-pay,
  .bamboopay {
    right: -50px;
    width: 100px;
  }
}

@media (max-width: 1452px) {
  .tree-pay {
    left: -50px;
  }

}

@media (max-width: 1192px) {
  .tree-third {
    visibility: hidden;
  }

  .pandaart {
    left: 400px;
  }

  .bamboo {
    left: 490px;
  }

  .bamboopay{
    display: none;
  }
}

@media (max-width: 1293px) {
  .left-part-header {
    padding-top: 50px;
  }

  .watch-now {
    margin-top: 30px;
  }

  .container {
    width: 90%;
  }
}

@media (max-width: 1190px) {
  .bg-img-pay {
    background-image: url(../img/framebgtwo.png);
  }

  .row-pay {
    padding-top: 170px;
  }

  .watch-now {
    margin: 30px 0 250px;
  }

  .pets-in-zoo {
    padding-bottom: 20px;
  }

  .bamboopay, .tree-pay {
    visibility: hidden;
  }

}

@media (max-width: 1141px) {
  .rigth-part-nav,
  .left-part-nav,
  .tree-second {
    display: none;
  }

  .burger,
  .logo-burger {
    display: inline-block;
  }

  .center {
    margin: 50px 0 30px;
  }

  .card {
    width: 45%;
  }

  .left-part-header {
    padding-top: 50px;
  }
}

@media (max-width: 930px) {

  .img-animals {
    width: 90%;
    height: 100%;
  
  }
  .left-part-header h1,
  span {
    font-size: 36px;
    line-height: 40px;
  }

  .left-part-header p {
    font-size: 14px;
    width: 100%;
  }

  .watch-now {
    margin: 30px 0 180px;
    font-size: 14px;
    padding: 10px 50px;
  }

  .rigth-part-header {
    width: 80%;
  }

  .comment p {
    font-size: 14px;
  }

  .left-part-beau-anim div:nth-child(2n) {
    display: none;
  }

  .img-animals {
    padding: 0;
  }

  .comment {
    width: 256px;
  }

  .comments {
    overflow: scroll;
  }

  .comment-with-human {
    width: auto;
    margin-right: 50px;
  }
  .line{
    display: none;
  }

  .line-t{
    display: inline-block;
  }

  .circle-card p{
    font-size: 14px;
  }
}

@media (max-width: 660px) {
  .card{
    width: 45%;
  }

  .cards .card:nth-child(5), .card:nth-child(6){
    display: none;
  }

  .center {
    margin: 20px 0 30px;
  }

  .pets-in-zoo {
    padding-bottom: 0px;
  }

  .row-pay {
    padding-top: 15px;
  }

  .testimonials,
  .look-at-animals {
    padding: 30px 0 30px;
  }

  .bg-img-pay .center {
    padding: 80px 0 130px;
  }

  .row-button .donation-button {
    display: inline-block;
    width: 170px;
    margin-left: 30px;
  }

  .bg-img-blue {
    background-image: url(../img/Hero.png);
    background-position: center;
  }

  .watch-now {
    padding: 10px 5px;
    font-size: 13px;
    width: 170px;
    margin-right: 30px;
  }

  .bg-img-pay .row-pay{
    padding-top: 180px;
  }

  .row-button {
    margin: 30px 0 50px;
  }

  .left-part-header{
    padding: 0;
  }

  .pandaart{
    left: 250px;
  }

  .tree-first{
    left: 400px;
  }

  .bamboo{
    left: 300px;
  }

  .favorite{
    display: none;
  }

  .but{
    display: flex;
  }

  .but button{
    display: flex;
    width: 100%;
    font-size: 20px;
    margin-top: 20px;
  }
}

@media(max-width: 580px){
  .circle{
    width: 100px;
    height: 100px;
    padding: 0;
  }

  .bg-img-pay .center{
    padding: 0 0 0 0;
    margin: 0 0 100px;
  }

  .bg-img-pay .row-pay{
    padding-bottom: 30px;
  }

  .tree-first{
    display: none;
  }
}

@media(max-width: 528px){
  .row-head{
    flex-direction: column;
  }

  .rigth-part-header img{
    display: none;
  }

  .left-part-header{
    width: 100%;
    padding-top: 30px;
  }

  .left-part-header h1, span{
    font-size: 32px;
  }

  .row-button button, .row-button .donation-button{
    width: 45%;
  }

  .row-button{
    padding-bottom: 50px;
    justify-content: space-between;
  }

  .how-it-work .row{
    flex-direction: column;
  }

 .how-it-work .circle-card{
   margin-bottom: 30px;
 }

 .card{
   width: 100%;
 }

 .cards .card:nth-child(3), .card:nth-child(4){
  display: none;
}

.bg-img-pay .center{
  flex-direction: column;
  margin: 0 0 180px;
}

.bg-img-pay .row-pay{
  padding-top: 300px;
}

.line-t{
  transform: rotate(90deg);
}

.bt-none{
  display: inline-block;
  margin: 35px 0 30px;
  width: 100%;
}


.comments{
  overflow: visible;
  flex-direction: column;
}
.comment{
  width: 100%;
}

.comment-with-human{
  margin-right: 0;
  margin-bottom: 20px;
}

.left-part-beau-anim{
  flex-wrap: wrap;

}

.left-part-beau-anim div:nth-child(2n) {
  display: inline;
}

.aminal{
  width: 30%;
  text-align: center;
}

.aminal:last-child, .donation-button{
  display: none;
}

.select-none{
  display: flex;
  transform: rotate(90deg);
}

.rigth-part-select, .feedback{
  display: none;
}

.look-at-animals .row{
  flex-direction: column;
}

.butn-none{
  display: flex;
  margin-top: 30px;
  width: 100%;
}

.whatch-vid-none{
  display: inline-block;
  width: 90%;
}

.row-button{
  padding-bottom: 180px;
}
}

@media(max-width: 436px){
  .pandaart{
    left: 90px;
  }

  .bamboo{
    left: 180px;
  }

}

